<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <title>Had</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <main>
        <h1>Had</h1>
        <input type="text" name="nickname" id="nickname" placeholder="přezdívka" />
        <section>
            <button type="submit" id="joinGame" style="display:inline">Připojit se</button>
            <button type="submit" id="leaveGame" style="display:inline" disabled="true">Odpojit se</button>
        </section>
        <section id="score">
        </section>
        <canvas id="canvas"></canvas>
    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://hammerjs.github.io/dist/hammer.min.js"></script>
    <script src="/static/index.js"></script>
</body>

</html>