@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

:root {
    --bg: radial-gradient(circle, rgba(176, 219, 64, 1) 0%, rgba(70, 78, 50, 1) 100%);
}

/* actual styling:d */
body {
    overflow: hidden;
}

main {
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
    background: var(--bg);
}

h1 {
    margin: 0 auto;
}

#canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#joinGame {
    display: block;
    margin: 0 auto;
}

#score {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    padding: 0em 1em;
    text-align: left;
    outline: none;
    border: .2em solid #b0db43;
    background: rgba(176, 219, 67, .3);
    border-radius: .2em .2em 0 0;
}

#music {
    position: fixed;
    top: 2.5%;
    right: 2.5%;
    z-index: 20;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    scale: 3;
}

.btns>button {
    background-color: #b0db43;
    background-repeat: no-repeat;
    border: dotted 1px rgba(70, 78, 50, 1);
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.btns>button:disabled {
    cursor: not-allowed;
    background-color: rgba(70, 78, 50, 1);
    border: dotted 1px #b0db43;
}

.font {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@keyframes dance {

    0% {
        transform: rotateZ(0) scale(0);
    }

    25% {
        transform: rotateZ(-20deg) scaleZ(2);
    }

    50% {
        transform: rotateZ(0) scale(0);
    }

    75% {
        transform: rotateZ(20deg) scale(2);
    }

    100% {
        transform: rotateZ(0) scale(0);
    }
}

.first {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

input[type=text] {
    height: 80%;
    appearance: none;
    border: none;
    outline: none;
    border-bottom: .2em solid #b0db43;
    background: rgba(176, 219, 67, .3);
    border-radius: .2em .2em 0 0;
    color: black;
    text-align: center;
    margin-bottom: .5em;
    margin-right: .5em;
}

input[type=color] {
    height: 80%;
    margin: 0;
    cursor: pointer;
    padding: 0;
    border: .2em solid #b0db43;
    width: 2em;
    height: 2em;
    margin-bottom: .5em;

    &::-webkit-color-swatch {
        border: none;
    }

    &::-webkit-color-swatch-wrapper {
        padding: 0;
    }
}